Binaries
DerivedDataCache
Intermediate
Saved
Build
**/__ExternalActors__
**/__ExternalObjects__
**/AnimStarterPack
**/assets/Characters
**/assets/ControlRig
**/assets/LearningKit_Games
**/assets/LearningKit_Robots
**/assets/LevelPrototyping
**/assets/miaximo
**/assets/MilitaryWeapSilver
**/assets/ThirdPerson
**/assets/classassets
.vsconfig
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace